<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.Region">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="parent_id" property="parentId" />
    <result column="state" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    DELETE FROM region
    WHERE id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO region (name, parent_id, state)
    VALUES (#{name}, #{parentId}, #{state})
  </insert>
  <update id="updateByPrimaryKey">
    UPDATE region
    SET name = #{name}
    WHERE id = #{id}
  </update>
  <update id="updateState">
    UPDATE region
    SET state = #{state}
    WHERE id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    SELECT id, name, parent_id, state
    FROM region
    WHERE id = #{id}
  </select>
  <select id="selectByParentId" resultMap="BaseResultMap">
    SELECT id, name, parent_id, state
    FROM region
    <where>
      <choose>
        <when test="parentId != null">
          AND parent_id = #{parentId}
        </when>
        <otherwise>
          AND parent_id IS NULL;
        </otherwise>
      </choose>
    </where>
  </select>
    <select id="selectAll" resultType="region">
      SELECT id, name, parent_id, state
      FROM region
      <where>
        <if test="state != null">
          state = #{state}
        </if>
      </where>
    </select>
</mapper>