<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.trip.base.mapper.TravelCommendMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.trip.base.domain.TravelCommend">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="subTitle" property="subTitle" />
    <result column="coverUrl" property="coverUrl" />
    <result column="schedule" property="schedule" />
    <result column="type" property="type" />
    <association property="travel" javaType="travel" columnPrefix="t_">
      <id column="id" property="id"/>
      <result column="coverUrl" property="coverUrl"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from travelcommend
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into travelcommend (travel_id, title, subTitle, coverUrl, schedule, type)
    values (#{travel.id}, #{title}, #{subTitle}, #{coverUrl}, #{schedule}, #{type})
  </insert>
  <update id="updateByPrimaryKey">
    update travelcommend
    set
      title = #{title},
      subTitle = #{subTitle},
      coverUrl = #{coverUrl},
      schedule = #{schedule},
      type = #{type}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, travel_id, title, subTitle, coverUrl, schedule, type
    from travelcommend
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, travel_id, title, subTitle, coverUrl, schedule, type
    from travelcommend
  </select>
  <select id="selectForList" resultType="travelCommend">
    SELECT tc.id, tc.travel_id, tc.title, tc.subTitle, tc.coverUrl, tc.schedule, tc.type,
    t.id t_id, t.coverUrl t_coverUrl
    from travelcommend tc
    JOIN travel t
    ON tc.travel_id = t.id
    <where>
      <if test="keywords != null">
        AND tc.title LIKE CONCAT("%",#{keywords},"%")
      </if>
      <if test="type!=null and type > -1" >
        AND tc.type = #{type}
      </if>
      <if test="id != null">
        AND tc.id = #{id}
      </if>
    </where>
  </select>
  <select id="selectForApp" resultType="map">
    SELECT tc.id, tc.travel_id, tc.title, tc.subTitle, tc.coverUrl, tc.schedule, tc.type,
    u.id u_id, u.nickName u_nickName,u.headImgurl u_headImgurl,
    r.id r_id, r.name r_name
    from travelcommend tc
    JOIN travel t
    ON tc.travel_id = t.id
    JOIN user u
    ON t.author_id = u.id
    JOIN region r
    ON t.place_id = r.id
    <where>
      <if test="type!=null and type > -1" >
        AND tc.type = #{type}
      </if>
      <if test="id != null">
        AND tc.id = #{id}
      </if>
      AND schedule &lt;= NOW()
    </where>
  </select>
</mapper>